body {
	font-family: 'Barlow Condensed', sans-serif;
}

main {
	font-size: 16px;
	color: black;
}

a {
	color: black;
}

nav.navbar {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

ul.navbar-nav {
	flex: 1;
	display: flex;
	justify-content: space-evenly;
}

/*ABOUT ME*/
div.row.aboutme {
	align-items: flex-end;
}

div.aboutme section {
	margin-top: 50px;
}

section.aboutme-text h2 {
	text-align: center;
}

section.aboutme-text  {
	
	padding-left: 110px;
	text-align: justify;
	/*max-width: 800px;*/
}

section.aboutme-text p {
	margin-bottom: 0;
}

section.aboutme-photo {
	/*position: relative;*/
	padding-left: 50px;

}


img#myphoto {
	max-width: 250px;
	height: auto;
	border-radius: 1%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	/*position: absolute;*/
	/*bottom: 0;*/
}

/*PROJECTS*/

div.project_container {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
}

section.project {
	/*background-color: red;*/
	margin-top: 10vh;
}

.project-tile {
	border: black 20px;
	/*border-radius: 2%;*/
	position: relative;
	height: 100%;
	/*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
	/*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
}

img {
  width: 100%;
  max-width: 400px;
}

span.caption {
	background-color: #e0e0e0;
	width: 100%;
	font-size: 24px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 2%;
}



/*MY EDUCATION*/
/*timeline built w/ help of https://www.w3schools.com/howto/howto_css_timeline.asp */

.e-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.e-timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #e6e8e6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
}

/* Container around content */
.e-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.e-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  background-color: white;
  border: 4px solid #ffe282;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #e6e8e6;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e6e8e6;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #e6e8e6;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e6e8e6 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.e-content {
  padding: 20px 30px;
  background-color: #e6e8e6;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .e-timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .e-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .e-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e6e8e6 transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

#ukonczenie { font-style: italic; }
#school { font-weight: bold }

/*table for other timelines:*/
div.table {
	margin-top: 50px;
}

h2#table {
	text-align: center;
	margin-bottom: 30px;
}

table td {
	padding-bottom: 20px;
}

table tr {
	text-align: center;
	border: 0;
}

/*JOBS*/

/*CONTACT*/
section.contact {
	margin-top: 50px;
	text-align: center;
}

section.contact h3 {
	text-align: center;
}

.contact a {
	font-size: 16px;
}
/*FOOTER*/

footer {
	background-color: #edf0f5;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

footer .col {
	text-align: left;
}

a:link {
	text-decoration: none;
}

footer a {
	color: black;
	font-size: 12px;
}

#Kalina {
	font-size: 16px;
	padding-left: 100px;
}

.icon {
	margin-right: 10px;
}